/* ==== Fonts ==== */

// font-family: 'Pacifico', cursive;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Cabin', sans-serif;

/* ===== Colors ===== */
$Teal: #29A0AB;
$TealLight: #f4feff;
$TealDark: #02828E;

$Purple: #7636BA;
$PurpleLight: #ebd8ff;
$PurpleDark: #6717BD;

$Rust: #EA4300;
$RustLight: #ffe7ce;
$RustDark: #6C2B00;

$Mustard: #FFF23B;
$MustardLight: #fff8ef;
$MustardDark: #BB7F00;

///////////////////////////////////


.App {

	background-color: $MustardLight;
	font-family: 'Cabin', sans-serif;

/* ========== Navbar ========== */

	.navigation {

		background-color: $Teal;
		margin-bottom: 3%;
		padding: 1% .5%;


		.nav-container-left {
			display: inline-block;
			width: 50%;

			.nav-title {
				margin: 0 0 0 3%;
				float: left;
				font-size: 1.3em;
				color: $RustLight;
				font-family: 'Pacifico', cursive;
				letter-spacing: .05em;

			}
		}

		.nav-container-right {
			display: inline-block;
			width: 50%;
			padding-right: 1%;

			.link-item {
				display: inline;
				text-decoration: none;
				float: right;
				margin: 0 2% 2% 1%;
				color: $RustLight;
				font-family: 'Quicksand', sans-serif;
				font-weight: bolder;
				font-size: .8em;
			}
		}
	}


/* ========== AllPosts ========== */

	.posts-container {
		margin: 1% 4%;

		.posts-header {
			text-align: center;
			font-weight: bolder;
			color: $RustDark;
			margin-bottom: 2%;
			font-size: 2.5em;
			font-family: 'Pacifico', cursive;
		}

		.list-group-item {
			text-align: center;

			.post-name {
				color: $RustDark;
				font-weight: bolder;
				font-size: 1.2em;
			}
		}

		.addpost-button {
			margin-top: 3.5%;
			margin-bottom: 10%;
			font-weight: bolder;
			font-size: 1.1em;
			background-color: $Teal;
			color: $RustLight;
			border: none;
			padding: 1.5%;
			border-radius: 10px;
		}

	}


/* ========== SinglePost ========== */

	.single-post-container {
		margin-top: 5%;
		margin-bottom: 40%;

		.title-header {
			font-size: 1.2em;
		}
		.post-titles {
			color: $RustDark;
			font-weight: bolder;
			text-align: center;
			margin: auto;
		}

		.post-header {
			text-align: center;
			font-size: 2.5em;
			margin: 0 0 1.3% 0;
		}

		.post-category {
			text-align: center;
			font-size: 1.1em;
			margin: .5% 0 3% 0;
		}

		.post-info-container {
			background-color: white;
			border-radius: 15px;
			padding: 2% 6%;
			margin: 1% 9%;

			.post-content {
				text-align: center;
				font-size: 1.3em;
				margin: 2% ;
			}
		}

		.button-container {
			margin-top: 8%;
			margin-bottom: 20%;

			.back-button {
				font-weight: bolder;
    		background-color: #29A0AB;
    		color: $RustLight;
    		border: none;
				padding: 1.5% 2%;
				border-radius: 10px;
				font-size: 1.1em;
			}

			.delete-button {
				font-weight: bolder;
    		background-color: $Rust;
    		color: $MustardLight;
    		border: none;
				padding: 1.5% 2%;
				border-radius: 10px;
				font-size: 1.1em;
			}
		}

	}

/* ===== NewPost ===== */

	.post-submit-container {
		margin-top: 5%;
		margin-bottom: 25%;
		padding: 0 4%;

		.field {
			margin-bottom: 2%;
		}

		.submit-button-container {
			margin-bottom: 30%;

			.submit-button {
				font-weight: bolder;
				background-color: #29A0AB;
				color: $RustLight;
				border: none;
				padding: 1.5% 3%;
				border-radius: 10px;
				font-size: 1.1em;
				float:left;
				margin: 0;
			}

			.delete-button {
				font-weight: bolder;
				background-color: $Rust;
				color: $MustardLight;
				border: none;
				padding: 1.5% 2%;
				border-radius: 10px;
				font-size: 1.1em;
				float:right;
				margin: 0;

			}
		}
	}
/* ===== Footer ===== */

	.footer {
		background-color: $Teal;
		padding: 1%;
		margin-top: 3%;

		.footer-text {
			padding-top: 15px;
			text-align: center;
			color: $RustLight;
		}

	}

}

.push {
	height: 80px;
}


/* Cancel Button */
form a {
	margin-left: 10px;
}
